<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AgroNirvana</title>
  <!-- Include Bootstrap CSS from CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9VXVX2EQH0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-9VXVX2EQH0');
</script>

</head>
<body>
  <header>
    <h1>{{ _("AgroNirvana") }}</h1>

    <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
          <li><a href="{{ url_for('claims') }}">Claims</a></li>
          <li><a href="{{ url_for('policies') }}">My Policies</a></li>
          <li><a href="{{ url_for('purchase_policy') }}">Purchase Policy</a></li>
          <li><a href="{{ url_for('dummy_pay') }}">Make Payment</a></li>
          <li><a href="{{ url_for('feedback') }}">Feedback</a></li>  <!-- New Feedback Link -->
          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
        </ul>
      </nav>     
  </header>
  <main>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>&copy; 2025 AgroNirvana. All rights reserved.</p>
  </footer>
  <!-- Include Bootstrap JS and dependencies (optional for interactive components) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
